In [9]:
import joblib
import numpy as np
from dataread import *
from DATA_INDICATORS import *
from sklearn.preprocessing import MinMaxScaler
import pymysql
from datetime import datetime
host = "ai-predict.cyyrt9e5hsme.ap-northeast-2.rds.amazonaws.com"
port = 3306
username = "admin"
database = "AI_predict"
password = "825582qaz"

In [10]:
def connect_RDS(host,port,username,password,database):
    conn = pymysql.connect(host = host,user = username, passwd=password, db=database,
    port=port, use_unicode = True, charset='utf8')
    return conn

In [11]:
def make_dataset(data, label, window_size=5):
    feature_list = []
    label_list = []
    for i in range(len(data) - window_size):
        feature_list.append(np.array(data.iloc[i:i+window_size]))
        label_list.append(np.array(label.iloc[i+window_size]))
    return np.array(feature_list), np.array(label_list)

In [18]:
ticker = download_data().Usdt_symbol()
for code_name in ticker:
    conn = connect_RDS(host,port,username,password,database)
    cursor = conn.cursor()
    print(code_name)
    #  
    sql = '''CREATE TABLE ''' + str(code_name).replace("/","_") + '''( 
date DATE, 
predict varchar(255)
)
    '''
    print(sql)
    cursor.execute(sql)
    conn.commit()
    conn.close()

BTC/USDT
CREATE TABLE BTC_USDT(
date DATE,
predict varchar(255)
)

ETH/USDT
CREATE TABLE ETH_USDT(
date DATE,
predict varchar(255)
)

BNB/USDT
CREATE TABLE BNB_USDT(
date DATE,
predict varchar(255)
)

BCC/USDT
CREATE TABLE BCC_USDT(
date DATE,
predict varchar(255)
)

NEO/USDT
CREATE TABLE NEO_USDT(
date DATE,
predict varchar(255)
)

LTC/USDT
CREATE TABLE LTC_USDT(
date DATE,
predict varchar(255)
)

QTUM/USDT
CREATE TABLE QTUM_USDT(
date DATE,
predict varchar(255)
)

ADA/USDT
CREATE TABLE ADA_USDT(
date DATE,
predict varchar(255)
)

XRP/USDT
CREATE TABLE XRP_USDT(
date DATE,
predict varchar(255)
)

EOS/USDT
CREATE TABLE EOS_USDT(
date DATE,
predict varchar(255)
)

TUSD/USDT
CREATE TABLE TUSD_USDT(
date DATE,
predict varchar(255)
)

IOTA/USDT
CREATE TABLE IOTA_USDT(
date DATE,
predict varchar(255)
)

XLM/USDT
CREATE TABLE XLM_USDT(
date DATE,
predict varchar(255)
)

ONT/USDT
CREATE TABLE ONT_USDT(
date DATE,
predict varchar(255)
)

TRX/USDT
CREATE TABLE TRX_USDT(
date DATE,
predict varchar(255)
)

ETC/USDT
CREATE TABLE ETC_USDT(
date DATE,
predict varchar(255)
)

ICX/USDT
CREATE TABLE ICX_USDT(
date DATE,
predict varchar(255)
)

VEN/USDT
CREATE TABLE VEN_USDT(
date DATE,
predict varchar(255)
)

NULS/USDT
CREATE TABLE NULS_USDT(
date DATE,
predict varchar(255)
)

VET/USDT
CREATE TABLE VET_USDT(
date DATE,
predict varchar(255)
)

PAX/USDT
CREATE TABLE PAX_USDT(
date DATE,
predict varchar(255)
)

BCH/USDT
CREATE TABLE BCH_USDT(
date DATE,
predict varchar(255)
)

BSV/USDT
CREATE TABLE BSV_USDT(
date DATE,
predict varchar(255)
)

USDC/USDT
CREATE TABLE USDC_USDT(
date DATE,
predict varchar(255)
)

LINK/USDT
CREATE TABLE LINK_USDT(
date DATE,
predict varchar(255)
)

WAVES/USDT
CREATE TABLE WAVES_USDT(
date DATE,
predict varchar(255)
)

BTT/USDT
CREATE TABLE BTT_USDT(
date DATE,
predict varchar(255)
)

USDS/USDT
CREATE TABLE USDS_USDT(
date DATE,
predict varchar(255)
)

ONG/USDT
CREATE TABLE ONG_USDT(
date DATE,
predict varchar(255)
)

HOT/USDT
CREATE TABLE HOT_USDT(
date DATE,
predict varchar(255)
)

ZIL/USDT
CREATE TABLE ZIL_USDT(
date DATE,
predict varchar(255)
)

ZRX/USDT
CREATE TABLE ZRX_USDT(
date DATE,
predict varchar(255)
)

FET/USDT
CREATE TABLE FET_USDT(
date DATE,
predict varchar(255)
)

BAT/USDT
CREATE TABLE BAT_USDT(
date DATE,
predict varchar(255)
)

XMR/USDT
CREATE TABLE XMR_USDT(
date DATE,
predict varchar(255)
)

ZEC/USDT
CREATE TABLE ZEC_USDT(
date DATE,
predict varchar(255)
)

IOST/USDT
CREATE TABLE IOST_USDT(
date DATE,
predict varchar(255)
)

CELR/USDT
CREATE TABLE CELR_USDT(
date DATE,
predict varchar(255)
)

DASH/USDT
CREATE TABLE DASH_USDT(
date DATE,
predict varchar(255)
)

NANO/USDT
CREATE TABLE NANO_USDT(
date DATE,
predict varchar(255)
)

OMG/USDT
CREATE TABLE OMG_USDT(
date DATE,
predict varchar(255)
)

THETA/USDT
CREATE TABLE THETA_USDT(
date DATE,
predict varchar(255)
)

ENJ/USDT
CREATE TABLE ENJ_USDT(
date DATE,
predict varchar(255)
)

MITH/USDT
CREATE TABLE MITH_USDT(
date DATE,
predict varchar(255)
)

MATIC/USDT
CREATE TABLE MATIC_USDT(
date DATE,
predict varchar(255)
)

ATOM/USDT
CREATE TABLE ATOM_USDT(
date DATE,
predict varchar(255)
)

TFUEL/USDT
CREATE TABLE TFUEL_USDT(
date DATE,
predict varchar(255)
)

ONE/USDT
CREATE TABLE ONE_USDT(
date DATE,
predict varchar(255)
)

FTM/USDT
CREATE TABLE FTM_USDT(
date DATE,
predict varchar(255)
)

ALGO/USDT
CREATE TABLE ALGO_USDT(
date DATE,
predict varchar(255)
)

USDSB/USDT
CREATE TABLE USDSB_USDT(
date DATE,
predict varchar(255)
)

GTO/USDT
CREATE TABLE GTO_USDT(
date DATE,
predict varchar(255)
)

ERD/USDT
CREATE TABLE ERD_USDT(
date DATE,
predict varchar(255)
)

DOGE/USDT
CREATE TABLE DOGE_USDT(
date DATE,
predict varchar(255)
)

DUSK/USDT
CREATE TABLE DUSK_USDT(
date DATE,
predict varchar(255)
)

ANKR/USDT
CREATE TABLE ANKR_USDT(
date DATE,
predict varchar(255)
)

WIN/USDT
CREATE TABLE WIN_USDT(
date DATE,
predict varchar(255)
)

COS/USDT
CREATE TABLE COS_USDT(
date DATE,
predict varchar(255)
)

NPXS/USDT
CREATE TABLE NPXS_USDT(
date DATE,
predict varchar(255)
)

COCOS/USDT
CREATE TABLE COCOS_USDT(
date DATE,
predict varchar(255)
)

MTL/USDT
CREATE TABLE MTL_USDT(
date DATE,
predict varchar(255)
)

TOMO/USDT
CREATE TABLE TOMO_USDT(
date DATE,
predict varchar(255)
)

PERL/USDT
CREATE TABLE PERL_USDT(
date DATE,
predict varchar(255)
)

DENT/USDT
CREATE TABLE DENT_USDT(
date DATE,
predict varchar(255)
)

MFT/USDT
CREATE TABLE MFT_USDT(
date DATE,
predict varchar(255)
)

KEY/USDT
CREATE TABLE KEY_USDT(
date DATE,
predict varchar(255)
)

STORM/USDT
CREATE TABLE STORM_USDT(
date DATE,
predict varchar(255)
)

DOCK/USDT
CREATE TABLE DOCK_USDT(
date DATE,
predict varchar(255)
)

WAN/USDT
CREATE TABLE WAN_USDT(
date DATE,
predict varchar(255)
)

FUN/USDT
CREATE TABLE FUN_USDT(
date DATE,
predict varchar(255)
)

CVC/USDT
CREATE TABLE CVC_USDT(
date DATE,
predict varchar(255)
)

CHZ/USDT
CREATE TABLE CHZ_USDT(
date DATE,
predict varchar(255)
)

BAND/USDT
CREATE TABLE BAND_USDT(
date DATE,
predict varchar(255)
)

BUSD/USDT
CREATE TABLE BUSD_USDT(
date DATE,
predict varchar(255)
)

BEAM/USDT
CREATE TABLE BEAM_USDT(
date DATE,
predict varchar(255)
)

XTZ/USDT
CREATE TABLE XTZ_USDT(
date DATE,
predict varchar(255)
)

REN/USDT
CREATE TABLE REN_USDT(
date DATE,
predict varchar(255)
)

RVN/USDT
CREATE TABLE RVN_USDT(
date DATE,
predict varchar(255)
)

HC/USDT
CREATE TABLE HC_USDT(
date DATE,
predict varchar(255)
)

HBAR/USDT
CREATE TABLE HBAR_USDT(
date DATE,
predict varchar(255)
)

NKN/USDT
CREATE TABLE NKN_USDT(
date DATE,
predict varchar(255)
)

STX/USDT
CREATE TABLE STX_USDT(
date DATE,
predict varchar(255)
)

KAVA/USDT
CREATE TABLE KAVA_USDT(
date DATE,
predict varchar(255)
)

ARPA/USDT
CREATE TABLE ARPA_USDT(
date DATE,
predict varchar(255)
)

IOTX/USDT
CREATE TABLE IOTX_USDT(
date DATE,
predict varchar(255)
)

RLC/USDT
CREATE TABLE RLC_USDT(
date DATE,
predict varchar(255)
)

MCO/USDT
CREATE TABLE MCO_USDT(
date DATE,
predict varchar(255)
)

CTXC/USDT
CREATE TABLE CTXC_USDT(
date DATE,
predict varchar(255)
)

TROY/USDT
CREATE TABLE TROY_USDT(
date DATE,
predict varchar(255)
)

VITE/USDT
CREATE TABLE VITE_USDT(
date DATE,
predict varchar(255)
)

FTT/USDT
CREATE TABLE FTT_USDT(
date DATE,
predict varchar(255)
)

EUR/USDT
CREATE TABLE EUR_USDT(
date DATE,
predict varchar(255)
)

OGN/USDT
CREATE TABLE OGN_USDT(
date DATE,
predict varchar(255)
)

DREP/USDT
CREATE TABLE DREP_USDT(
date DATE,
predict varchar(255)
)

BULL/USDT
CREATE TABLE BULL_USDT(
date DATE,
predict varchar(255)
)

BEAR/USDT
CREATE TABLE BEAR_USDT(
date DATE,
predict varchar(255)
)

ETHBULL/USDT
CREATE TABLE ETHBULL_USDT(
date DATE,
predict varchar(255)
)

ETHBEAR/USDT
CREATE TABLE ETHBEAR_USDT(
date DATE,
predict varchar(255)
)

TCT/USDT
CREATE TABLE TCT_USDT(
date DATE,
predict varchar(255)
)

WRX/USDT
CREATE TABLE WRX_USDT(
date DATE,
predict varchar(255)
)

BTS/USDT
CREATE TABLE BTS_USDT(
date DATE,
predict varchar(255)
)

LSK/USDT
CREATE TABLE LSK_USDT(
date DATE,
predict varchar(255)
)

BNT/USDT
CREATE TABLE BNT_USDT(
date DATE,
predict varchar(255)
)

LTO/USDT
CREATE TABLE LTO_USDT(
date DATE,
predict varchar(255)
)

EOSBULL/USDT
CREATE TABLE EOSBULL_USDT(
date DATE,
predict varchar(255)
)

EOSBEAR/USDT
CREATE TABLE EOSBEAR_USDT(
date DATE,
predict varchar(255)
)

XRPBULL/USDT
CREATE TABLE XRPBULL_USDT(
date DATE,
predict varchar(255)
)

XRPBEAR/USDT
CREATE TABLE XRPBEAR_USDT(
date DATE,
predict varchar(255)
)

STRAT/USDT
CREATE TABLE STRAT_USDT(
date DATE,
predict varchar(255)
)

AION/USDT
CREATE TABLE AION_USDT(
date DATE,
predict varchar(255)
)

MBL/USDT
CREATE TABLE MBL_USDT(
date DATE,
predict varchar(255)
)

COTI/USDT
CREATE TABLE COTI_USDT(
date DATE,
predict varchar(255)
)

BNBBULL/USDT
CREATE TABLE BNBBULL_USDT(
date DATE,
predict varchar(255)
)

BNBBEAR/USDT
CREATE TABLE BNBBEAR_USDT(
date DATE,
predict varchar(255)
)

STPT/USDT
CREATE TABLE STPT_USDT(
date DATE,
predict varchar(255)
)

WTC/USDT
CREATE TABLE WTC_USDT(
date DATE,
predict varchar(255)
)

DATA/USDT
CREATE TABLE DATA_USDT(
date DATE,
predict varchar(255)
)

XZC/USDT
CREATE TABLE XZC_USDT(
date DATE,
predict varchar(255)
)

SOL/USDT
CREATE TABLE SOL_USDT(
date DATE,
predict varchar(255)
)

CTSI/USDT
CREATE TABLE CTSI_USDT(
date DATE,
predict varchar(255)
)

HIVE/USDT
CREATE TABLE HIVE_USDT(
date DATE,
predict varchar(255)
)

CHR/USDT
CREATE TABLE CHR_USDT(
date DATE,
predict varchar(255)
)

BTCUP/USDT
CREATE TABLE BTCUP_USDT(
date DATE,
predict varchar(255)
)

BTCDOWN/USDT
CREATE TABLE BTCDOWN_USDT(
date DATE,
predict varchar(255)
)

GXS/USDT
CREATE TABLE GXS_USDT(
date DATE,
predict varchar(255)
)

ARDR/USDT
CREATE TABLE ARDR_USDT(
date DATE,
predict varchar(255)
)

LEND/USDT
CREATE TABLE LEND_USDT(
date DATE,
predict varchar(255)
)

MDT/USDT
CREATE TABLE MDT_USDT(
date DATE,
predict varchar(255)
)

STMX/USDT
CREATE TABLE STMX_USDT(
date DATE,
predict varchar(255)
)

KNC/USDT
CREATE TABLE KNC_USDT(
date DATE,
predict varchar(255)
)

REP/USDT
CREATE TABLE REP_USDT(
date DATE,
predict varchar(255)
)

LRC/USDT
CREATE TABLE LRC_USDT(
date DATE,
predict varchar(255)
)

PNT/USDT
CREATE TABLE PNT_USDT(
date DATE,
predict varchar(255)
)

COMP/USDT
CREATE TABLE COMP_USDT(
date DATE,
predict varchar(255)
)

BKRW/USDT
CREATE TABLE BKRW_USDT(
date DATE,
predict varchar(255)
)

SC/USDT
CREATE TABLE SC_USDT(
date DATE,
predict varchar(255)
)

ZEN/USDT
CREATE TABLE ZEN_USDT(
date DATE,
predict varchar(255)
)

SNX/USDT
CREATE TABLE SNX_USDT(
date DATE,
predict varchar(255)
)

ETHUP/USDT
CREATE TABLE ETHUP_USDT(
date DATE,
predict varchar(255)
)

ETHDOWN/USDT
CREATE TABLE ETHDOWN_USDT(
date DATE,
predict varchar(255)
)

ADAUP/USDT
CREATE TABLE ADAUP_USDT(
date DATE,
predict varchar(255)
)

ADADOWN/USDT
CREATE TABLE ADADOWN_USDT(
date DATE,
predict varchar(255)
)

LINKUP/USDT
CREATE TABLE LINKUP_USDT(
date DATE,
predict varchar(255)
)

LINKDOWN/USDT
CREATE TABLE LINKDOWN_USDT(
date DATE,
predict varchar(255)
)

VTHO/USDT
CREATE TABLE VTHO_USDT(
date DATE,
predict varchar(255)
)

DGB/USDT
CREATE TABLE DGB_USDT(
date DATE,
predict varchar(255)
)

GBP/USDT
CREATE TABLE GBP_USDT(
date DATE,
predict varchar(255)
)

SXP/USDT
CREATE TABLE SXP_USDT(
date DATE,
predict varchar(255)
)

MKR/USDT
CREATE TABLE MKR_USDT(
date DATE,
predict varchar(255)
)

DAI/USDT
CREATE TABLE DAI_USDT(
date DATE,
predict varchar(255)
)

DCR/USDT
CREATE TABLE DCR_USDT(
date DATE,
predict varchar(255)
)

STORJ/USDT
CREATE TABLE STORJ_USDT(
date DATE,
predict varchar(255)
)

BNBUP/USDT
CREATE TABLE BNBUP_USDT(
date DATE,
predict varchar(255)
)

BNBDOWN/USDT
CREATE TABLE BNBDOWN_USDT(
date DATE,
predict varchar(255)
)

XTZUP/USDT
CREATE TABLE XTZUP_USDT(
date DATE,
predict varchar(255)
)

XTZDOWN/USDT
CREATE TABLE XTZDOWN_USDT(
date DATE,
predict varchar(255)
)

MANA/USDT
CREATE TABLE MANA_USDT(
date DATE,
predict varchar(255)
)

AUD/USDT
CREATE TABLE AUD_USDT(
date DATE,
predict varchar(255)
)

YFI/USDT
CREATE TABLE YFI_USDT(
date DATE,
predict varchar(255)
)

BAL/USDT
CREATE TABLE BAL_USDT(
date DATE,
predict varchar(255)
)

BLZ/USDT
CREATE TABLE BLZ_USDT(
date DATE,
predict varchar(255)
)

IRIS/USDT
CREATE TABLE IRIS_USDT(
date DATE,
predict varchar(255)
)

KMD/USDT
CREATE TABLE KMD_USDT(
date DATE,
predict varchar(255)
)

JST/USDT
CREATE TABLE JST_USDT(
date DATE,
predict varchar(255)
)

SRM/USDT
CREATE TABLE SRM_USDT(
date DATE,
predict varchar(255)
)

ANT/USDT
CREATE TABLE ANT_USDT(
date DATE,
predict varchar(255)
)

CRV/USDT
CREATE TABLE CRV_USDT(
date DATE,
predict varchar(255)
)

SAND/USDT
CREATE TABLE SAND_USDT(
date DATE,
predict varchar(255)
)

OCEAN/USDT
CREATE TABLE OCEAN_USDT(
date DATE,
predict varchar(255)
)

NMR/USDT
CREATE TABLE NMR_USDT(
date DATE,
predict varchar(255)
)

DOT/USDT
CREATE TABLE DOT_USDT(
date DATE,
predict varchar(255)
)

LUNA/USDT
CREATE TABLE LUNA_USDT(
date DATE,
predict varchar(255)
)

RSR/USDT
CREATE TABLE RSR_USDT(
date DATE,
predict varchar(255)
)

PAXG/USDT
CREATE TABLE PAXG_USDT(
date DATE,
predict varchar(255)
)

WNXM/USDT
CREATE TABLE WNXM_USDT(
date DATE,
predict varchar(255)
)

TRB/USDT
CREATE TABLE TRB_USDT(
date DATE,
predict varchar(255)
)

BZRX/USDT
CREATE TABLE BZRX_USDT(
date DATE,
predict varchar(255)
)

SUSHI/USDT
CREATE TABLE SUSHI_USDT(
date DATE,
predict varchar(255)
)

YFII/USDT
CREATE TABLE YFII_USDT(
date DATE,
predict varchar(255)
)

KSM/USDT
CREATE TABLE KSM_USDT(
date DATE,
predict varchar(255)
)

EGLD/USDT
CREATE TABLE EGLD_USDT(
date DATE,
predict varchar(255)
)

DIA/USDT
CREATE TABLE DIA_USDT(
date DATE,
predict varchar(255)
)

RUNE/USDT
CREATE TABLE RUNE_USDT(
date DATE,
predict varchar(255)
)

FIO/USDT
CREATE TABLE FIO_USDT(
date DATE,
predict varchar(255)
)

UMA/USDT
CREATE TABLE UMA_USDT(
date DATE,
predict varchar(255)
)

EOSUP/USDT
CREATE TABLE EOSUP_USDT(
date DATE,
predict varchar(255)
)

EOSDOWN/USDT
CREATE TABLE EOSDOWN_USDT(
date DATE,
predict varchar(255)
)

TRXUP/USDT
CREATE TABLE TRXUP_USDT(
date DATE,
predict varchar(255)
)

TRXDOWN/USDT
CREATE TABLE TRXDOWN_USDT(
date DATE,
predict varchar(255)
)

XRPUP/USDT
CREATE TABLE XRPUP_USDT(
date DATE,
predict varchar(255)
)

XRPDOWN/USDT
CREATE TABLE XRPDOWN_USDT(
date DATE,
predict varchar(255)
)

DOTUP/USDT
CREATE TABLE DOTUP_USDT(
date DATE,
predict varchar(255)
)

DOTDOWN/USDT
CREATE TABLE DOTDOWN_USDT(
date DATE,
predict varchar(255)
)

BEL/USDT
CREATE TABLE BEL_USDT(
date DATE,
predict varchar(255)
)

WING/USDT
CREATE TABLE WING_USDT(
date DATE,
predict varchar(255)
)

LTCUP/USDT
CREATE TABLE LTCUP_USDT(
date DATE,
predict varchar(255)
)

LTCDOWN/USDT
CREATE TABLE LTCDOWN_USDT(
date DATE,
predict varchar(255)
)

UNI/USDT
CREATE TABLE UNI_USDT(
date DATE,
predict varchar(255)
)

NBS/USDT
CREATE TABLE NBS_USDT(
date DATE,
predict varchar(255)
)

OXT/USDT
CREATE TABLE OXT_USDT(
date DATE,
predict varchar(255)
)

SUN/USDT
CREATE TABLE SUN_USDT(
date DATE,
predict varchar(255)
)

AVAX/USDT
CREATE TABLE AVAX_USDT(
date DATE,
predict varchar(255)
)

HNT/USDT
CREATE TABLE HNT_USDT(
date DATE,
predict varchar(255)
)

FLM/USDT
CREATE TABLE FLM_USDT(
date DATE,
predict varchar(255)
)

UNIUP/USDT
CREATE TABLE UNIUP_USDT(
date DATE,
predict varchar(255)
)

UNIDOWN/USDT
CREATE TABLE UNIDOWN_USDT(
date DATE,
predict varchar(255)
)

ORN/USDT
CREATE TABLE ORN_USDT(
date DATE,
predict varchar(255)
)

UTK/USDT
CREATE TABLE UTK_USDT(
date DATE,
predict varchar(255)
)

XVS/USDT
CREATE TABLE XVS_USDT(
date DATE,
predict varchar(255)
)

ALPHA/USDT
CREATE TABLE ALPHA_USDT(
date DATE,
predict varchar(255)
)

AAVE/USDT
CREATE TABLE AAVE_USDT(
date DATE,
predict varchar(255)
)

NEAR/USDT
CREATE TABLE NEAR_USDT(
date DATE,
predict varchar(255)
)

SXPUP/USDT
CREATE TABLE SXPUP_USDT(
date DATE,
predict varchar(255)
)

SXPDOWN/USDT
CREATE TABLE SXPDOWN_USDT(
date DATE,
predict varchar(255)
)

FIL/USDT
CREATE TABLE FIL_USDT(
date DATE,
predict varchar(255)
)

FILUP/USDT
CREATE TABLE FILUP_USDT(
date DATE,
predict varchar(255)
)

FILDOWN/USDT
CREATE TABLE FILDOWN_USDT(
date DATE,
predict varchar(255)
)

YFIUP/USDT
CREATE TABLE YFIUP_USDT(
date DATE,
predict varchar(255)
)

YFIDOWN/USDT
CREATE TABLE YFIDOWN_USDT(
date DATE,
predict varchar(255)
)

INJ/USDT
CREATE TABLE INJ_USDT(
date DATE,
predict varchar(255)
)

AUDIO/USDT
CREATE TABLE AUDIO_USDT(
date DATE,
predict varchar(255)
)

CTK/USDT
CREATE TABLE CTK_USDT(
date DATE,
predict varchar(255)
)

BCHUP/USDT
CREATE TABLE BCHUP_USDT(
date DATE,
predict varchar(255)
)

BCHDOWN/USDT
CREATE TABLE BCHDOWN_USDT(
date DATE,
predict varchar(255)
)

AKRO/USDT
CREATE TABLE AKRO_USDT(
date DATE,
predict varchar(255)
)

AXS/USDT
CREATE TABLE AXS_USDT(
date DATE,
predict varchar(255)
)

HARD/USDT
CREATE TABLE HARD_USDT(
date DATE,
predict varchar(255)
)

DNT/USDT
CREATE TABLE DNT_USDT(
date DATE,
predict varchar(255)
)

STRAX/USDT
CREATE TABLE STRAX_USDT(
date DATE,
predict varchar(255)
)

UNFI/USDT
CREATE TABLE UNFI_USDT(
date DATE,
predict varchar(255)
)

ROSE/USDT
CREATE TABLE ROSE_USDT(
date DATE,
predict varchar(255)
)

AVA/USDT
CREATE TABLE AVA_USDT(
date DATE,
predict varchar(255)
)

XEM/USDT
CREATE TABLE XEM_USDT(
date DATE,
predict varchar(255)
)

AAVEUP/USDT
CREATE TABLE AAVEUP_USDT(
date DATE,
predict varchar(255)
)

AAVEDOWN/USDT
CREATE TABLE AAVEDOWN_USDT(
date DATE,
predict varchar(255)
)

SKL/USDT
CREATE TABLE SKL_USDT(
date DATE,
predict varchar(255)
)

SUSD/USDT
CREATE TABLE SUSD_USDT(
date DATE,
predict varchar(255)
)

SUSHIUP/USDT
CREATE TABLE SUSHIUP_USDT(
date DATE,
predict varchar(255)
)

SUSHIDOWN/USDT
CREATE TABLE SUSHIDOWN_USDT(
date DATE,
predict varchar(255)
)

XLMUP/USDT
CREATE TABLE XLMUP_USDT(
date DATE,
predict varchar(255)
)

XLMDOWN/USDT
CREATE TABLE XLMDOWN_USDT(
date DATE,
predict varchar(255)
)

GRT/USDT
CREATE TABLE GRT_USDT(
date DATE,
predict varchar(255)
)

JUV/USDT
CREATE TABLE JUV_USDT(
date DATE,
predict varchar(255)
)

PSG/USDT
CREATE TABLE PSG_USDT(
date DATE,
predict varchar(255)
)

1INCH/USDT
CREATE TABLE 1INCH_USDT(
date DATE,
predict varchar(255)
)

REEF/USDT
CREATE TABLE REEF_USDT(
date DATE,
predict varchar(255)
)

OG/USDT
CREATE TABLE OG_USDT(
date DATE,
predict varchar(255)
)

ATM/USDT
CREATE TABLE ATM_USDT(
date DATE,
predict varchar(255)
)

ASR/USDT
CREATE TABLE ASR_USDT(
date DATE,
predict varchar(255)
)

CELO/USDT
CREATE TABLE CELO_USDT(
date DATE,
predict varchar(255)
)

RIF/USDT
CREATE TABLE RIF_USDT(
date DATE,
predict varchar(255)
)

BTCST/USDT
CREATE TABLE BTCST_USDT(
date DATE,
predict varchar(255)
)

TRU/USDT
CREATE TABLE TRU_USDT(
date DATE,
predict varchar(255)
)

CKB/USDT
CREATE TABLE CKB_USDT(
date DATE,
predict varchar(255)
)

TWT/USDT
CREATE TABLE TWT_USDT(
date DATE,
predict varchar(255)
)

FIRO/USDT
CREATE TABLE FIRO_USDT(
date DATE,
predict varchar(255)
)

LIT/USDT
CREATE TABLE LIT_USDT(
date DATE,
predict varchar(255)
)

SFP/USDT
CREATE TABLE SFP_USDT(
date DATE,
predict varchar(255)
)

DODO/USDT
CREATE TABLE DODO_USDT(
date DATE,
predict varchar(255)
)

CAKE/USDT
CREATE TABLE CAKE_USDT(
date DATE,
predict varchar(255)
)

ACM/USDT
CREATE TABLE ACM_USDT(
date DATE,
predict varchar(255)
)

BADGER/USDT
CREATE TABLE BADGER_USDT(
date DATE,
predict varchar(255)
)

FIS/USDT
CREATE TABLE FIS_USDT(
date DATE,
predict varchar(255)
)

OM/USDT
CREATE TABLE OM_USDT(
date DATE,
predict varchar(255)
)

POND/USDT
CREATE TABLE POND_USDT(
date DATE,
predict varchar(255)
)

DEGO/USDT
CREATE TABLE DEGO_USDT(
date DATE,
predict varchar(255)
)

ALICE/USDT
CREATE TABLE ALICE_USDT(
date DATE,
predict varchar(255)
)

LINA/USDT
CREATE TABLE LINA_USDT(
date DATE,
predict varchar(255)
)

PERP/USDT
CREATE TABLE PERP_USDT(
date DATE,
predict varchar(255)
)

RAMP/USDT
CREATE TABLE RAMP_USDT(
date DATE,
predict varchar(255)
)

SUPER/USDT
CREATE TABLE SUPER_USDT(
date DATE,
predict varchar(255)
)

CFX/USDT
CREATE TABLE CFX_USDT(
date DATE,
predict varchar(255)
)

EPS/USDT
CREATE TABLE EPS_USDT(
date DATE,
predict varchar(255)
)

AUTO/USDT
CREATE TABLE AUTO_USDT(
date DATE,
predict varchar(255)
)

TKO/USDT
CREATE TABLE TKO_USDT(
date DATE,
predict varchar(255)
)

PUNDIX/USDT
CREATE TABLE PUNDIX_USDT(
date DATE,
predict varchar(255)
)

TLM/USDT
CREATE TABLE TLM_USDT(
date DATE,
predict varchar(255)
)

1INCHUP/USDT
CREATE TABLE 1INCHUP_USDT(
date DATE,
predict varchar(255)
)

1INCHDOWN/USDT
CREATE TABLE 1INCHDOWN_USDT(
date DATE,
predict varchar(255)
)

BTG/USDT
CREATE TABLE BTG_USDT(
date DATE,
predict varchar(255)
)

MIR/USDT
CREATE TABLE MIR_USDT(
date DATE,
predict varchar(255)
)

BAR/USDT
CREATE TABLE BAR_USDT(
date DATE,
predict varchar(255)
)

FORTH/USDT
CREATE TABLE FORTH_USDT(
date DATE,
predict varchar(255)
)

BAKE/USDT
CREATE TABLE BAKE_USDT(
date DATE,
predict varchar(255)
)

BURGER/USDT
CREATE TABLE BURGER_USDT(
date DATE,
predict varchar(255)
)

SLP/USDT
CREATE TABLE SLP_USDT(
date DATE,
predict varchar(255)
)

SHIB/USDT
CREATE TABLE SHIB_USDT(
date DATE,
predict varchar(255)
)

ICP/USDT
CREATE TABLE ICP_USDT(
date DATE,
predict varchar(255)
)

AR/USDT
CREATE TABLE AR_USDT(
date DATE,
predict varchar(255)
)

POLS/USDT
CREATE TABLE POLS_USDT(
date DATE,
predict varchar(255)

In [33]:
def insert_db(ticker,text,today_datetime):
    conn = connect_RDS(host,port,username,password,database)
    cursor = conn.cursor()
    #  
    sql = "INSERT INTO " + str(ticker).replace("/","_") + "(date,predict) VALUES ("+'"'+ str(today_datetime)+'"' +"," + '"' + str(text) + '"' + ")"
    print(sql)
    cursor.execute(sql)
    conn.commit()
    conn.close()

In [34]:
ticker = download_data().Usdt_symbol()
for i in ticker:
    flag = 0
    try:
        print(i)
        today_datetime = datetime.today().strftime("%Y-%m-%d") # YYYY-mm-dd   
        data = download_data(since = "2022-05-01 00:00:00",code_name = str(i),frame='1d').get_data()
        data = add_ma(data)
        data = add_rsi(data)
        data = add_ema(data)
        data = add_stochastic(data)
        data = add_disparity(data)
        data = data.dropna()
        scaler = MinMaxScaler()
        try:
            df_scaled = scaler.fit_transform(data)

            df_scaled = pd.DataFrame(df_scaled)
            df_scaled.columns = data.columns
            # slicing data
            try:
                train_feature = pd.DataFrame(df_scaled.drop(['close'],axis=1))
                train_label = pd.DataFrame(df_scaled['close'])
                train_feature, train_label = make_dataset(train_feature, train_label, window_size = 20)
                try:
                    model = joblib.load('model_'+str(i).replace("/","_")+'.pkl')
                    temp = train_feature[-1].reshape(1,20,12)
                    result = model.predict(temp)[0][-1][0]
                    today = df_scaled.iloc[-1]['close']
                    if result > today:
                        insert_db(i,"",today_datetime)
                        flag = 1
                        print(str(i),": ")
                    else:
                        insert_db(i,"",today_datetime)
                        flag = 1
                        print(str(i),": ")
                except:
                    if flag == 0:
                        insert_db(i,"model predict error",today_datetime)
                        flag = 1
                        print(str(i),": model predict error")
            except:
                if flag == 0:
                    insert_db(i,"data slice error",today_datetime)
                    flag = 1
                    print(str(i),"data slice error")
        except:
            if flag == 0:
                insert_db(i,"data scale error",today_datetime)
                flag = 1
                print(str(i),": data scale error")
    except:
        if flag == 0:
            insert_db(i,"data read error",today_datetime)
            flag = 1
            print(str(i),": data read error")

BTC/USDT
INSERT INTO BTC_USDT(date,predict) VALUES ("2022-08-19","")
BTC/USDT :
ETH/USDT
INSERT INTO ETH_USDT(date,predict) VALUES ("2022-08-19","")
ETH/USDT :
BNB/USDT
INSERT INTO BNB_USDT(date,predict) VALUES ("2022-08-19","")
BNB/USDT :
BCC/USDT
INSERT INTO BCC_USDT(date,predict) VALUES ("2022-08-19","data read error")
BCC/USDT : data read error
NEO/USDT
INSERT INTO NEO_USDT(date,predict) VALUES ("2022-08-19","")
NEO/USDT :
LTC/USDT
INSERT INTO LTC_USDT(date,predict) VALUES ("2022-08-19","")
LTC/USDT :
QTUM/USDT
INSERT INTO QTUM_USDT(date,predict) VALUES ("2022-08-19","")
QTUM/USDT :
ADA/USDT
INSERT INTO ADA_USDT(date,predict) VALUES ("2022-08-19","")
ADA/USDT :
XRP/USDT
INSERT INTO XRP_USDT(date,predict) VALUES ("2022-08-19","")
XRP/USDT :
EOS/USDT
INSERT INTO EOS_USDT(date,predict) VALUES ("2022-08-19","")
EOS/USDT :
TUSD/USDT
INSERT INTO TUSD_USDT(date,predict) VALUES ("2022-08-19","")
TUSD/USDT :
IOTA/USDT
INSERT INTO IOTA_USDT(date,predict) VALUES ("2022-08-19","")
IOTA/USDT :
XLM/USDT
INSERT INTO XLM_USDT(date,predict) VALUES ("2022-08-19","")
XLM/USDT :
ONT/USDT
INSERT INTO ONT_USDT(date,predict) VALUES ("2022-08-19","")
ONT/USDT :
TRX/USDT
INSERT INTO TRX_USDT(date,predict) VALUES ("2022-08-19","")
TRX/USDT :
ETC/USDT
INSERT INTO ETC_USDT(date,predict) VALUES ("2022-08-19","")
ETC/USDT :
ICX/USDT
INSERT INTO ICX_USDT(date,predict) VALUES ("2022-08-19","")
ICX/USDT :
VEN/USDT
INSERT INTO VEN_USDT(date,predict) VALUES ("2022-08-19","data read error")
VEN/USDT : data read error
NULS/USDT
INSERT INTO NULS_USDT(date,predict) VALUES ("2022-08-19","")
NULS/USDT :
VET/USDT
INSERT INTO VET_USDT(date,predict) VALUES ("2022-08-19","")
VET/USDT :
PAX/USDT
INSERT INTO PAX_USDT(date,predict) VALUES ("2022-08-19","data read error")
PAX/USDT : data read error
BCH/USDT
INSERT INTO BCH_USDT(date,predict) VALUES ("2022-08-19","")
BCH/USDT :
BSV/USDT
INSERT INTO BSV_USDT(date,predict) VALUES ("2022-08-19","data read error")
BSV/USDT : data read error
USDC/USDT
INSERT INTO USDC_USDT(date,predict) VALUES ("2022-08-19","")
USDC/USDT :
LINK/USDT
INSERT INTO LINK_USDT(date,predict) VALUES ("2022-08-19","")
LINK/USDT :
WAVES/USDT
INSERT INTO WAVES_USDT(date,predict) VALUES ("2022-08-19","")
WAVES/USDT :
BTT/USDT
INSERT INTO BTT_USDT(date,predict) VALUES ("2022-08-19","data read error")
BTT/USDT : data read error
USDS/USDT
INSERT INTO USDS_USDT(date,predict) VALUES ("2022-08-19","data read error")
USDS/USDT : data read error
ONG/USDT
INSERT INTO ONG_USDT(date,predict) VALUES ("2022-08-19","")
ONG/USDT :
HOT/USDT
INSERT INTO HOT_USDT(date,predict) VALUES ("2022-08-19","")
HOT/USDT :
ZIL/USDT
INSERT INTO ZIL_USDT(date,predict) VALUES ("2022-08-19","")
ZIL/USDT :
ZRX/USDT
INSERT INTO ZRX_USDT(date,predict) VALUES ("2022-08-19","")
ZRX/USDT :
FET/USDT
INSERT INTO FET_USDT(date,predict) VALUES ("2022-08-19","")
FET/USDT :
BAT/USDT
INSERT INTO BAT_USDT(date,predict) VALUES ("2022-08-19","")
BAT/USDT :
XMR/USDT
INSERT INTO XMR_USDT(date,predict) VALUES ("2022-08-19","")
XMR/USDT :
ZEC/USDT
INSERT INTO ZEC_USDT(date,predict) VALUES ("2022-08-19","")
ZEC/USDT :
IOST/USDT
INSERT INTO IOST_USDT(date,predict) VALUES ("2022-08-19","")
IOST/USDT :
CELR/USDT
INSERT INTO CELR_USDT(date,predict) VALUES ("2022-08-19","")
CELR/USDT :
DASH/USDT
INSERT INTO DASH_USDT(date,predict) VALUES ("2022-08-19","")
DASH/USDT :
NANO/USDT
INSERT INTO NANO_USDT(date,predict) VALUES ("2022-08-19","data read error")
NANO/USDT : data read error
OMG/USDT
INSERT INTO OMG_USDT(date,predict) VALUES ("2022-08-19","")
OMG/USDT :
THETA/USDT
INSERT INTO THETA_USDT(date,predict) VALUES ("2022-08-19","")
THETA/USDT :
ENJ/USDT
INSERT INTO ENJ_USDT(date,predict) VALUES ("2022-08-19","")
ENJ/USDT :
MITH/USDT
INSERT INTO MITH_USDT(date,predict) VALUES ("2022-08-19","")
MITH/USDT :
MATIC/USDT
INSERT INTO MATIC_USDT(date,predict) VALUES ("2022-08-19","")
MATIC/USDT :
ATOM/USDT
INSERT INTO ATOM_USDT(date,predict) VALUES ("2022-08-19","")
ATOM/USDT :
TFUEL/USDT
INSERT INTO TFUEL_USDT(date,predict) VALUES ("2022-08-19","")
TFUEL/USDT :
ONE/USDT
INSERT INTO ONE_USDT(date,predict) VALUES ("2022-08-19","")
ONE/USDT :
FTM/USDT
INSERT INTO FTM_USDT(date,predict) VALUES ("2022-08-19","")
FTM/USDT :
ALGO/USDT
INSERT INTO ALGO_USDT(date,predict) VALUES ("2022-08-19","")
ALGO/USDT :
USDSB/USDT
INSERT INTO USDSB_USDT(date,predict) VALUES ("2022-08-19","data read error")
USDSB/USDT : data read error
GTO/USDT
INSERT INTO GTO_USDT(date,predict) VALUES ("2022-08-19","")
GTO/USDT :
ERD/USDT
INSERT INTO ERD_USDT(date,predict) VALUES ("2022-08-19","data read error")
ERD/USDT : data read error
DOGE/USDT
INSERT INTO DOGE_USDT(date,predict) VALUES ("2022-08-19","")
DOGE/USDT :
DUSK/USDT
INSERT INTO DUSK_USDT(date,predict) VALUES ("2022-08-19","")
DUSK/USDT :
ANKR/USDT
INSERT INTO ANKR_USDT(date,predict) VALUES ("2022-08-19","")
ANKR/USDT :
WIN/USDT
INSERT INTO WIN_USDT(date,predict) VALUES ("2022-08-19","")
WIN/USDT :
COS/USDT
INSERT INTO COS_USDT(date,predict) VALUES ("2022-08-19","")
COS/USDT :
NPXS/USDT
INSERT INTO NPXS_USDT(date,predict) VALUES ("2022-08-19","data read error")
NPXS/USDT : data read error
COCOS/USDT
INSERT INTO COCOS_USDT(date,predict) VALUES ("2022-08-19","")
COCOS/USDT :
MTL/USDT
INSERT INTO MTL_USDT(date,predict) VALUES ("2022-08-19","")
MTL/USDT :
TOMO/USDT
INSERT INTO TOMO_USDT(date,predict) VALUES ("2022-08-19","")
TOMO/USDT :
PERL/USDT
INSERT INTO PERL_USDT(date,predict) VALUES ("2022-08-19","")
PERL/USDT :
DENT/USDT
INSERT INTO DENT_USDT(date,predict) VALUES ("2022-08-19","")
DENT/USDT :
MFT/USDT
INSERT INTO MFT_USDT(date,predict) VALUES ("2022-08-19","")
MFT/USDT :
KEY/USDT
INSERT INTO KEY_USDT(date,predict) VALUES ("2022-08-19","")
KEY/USDT :
STORM/USDT
INSERT INTO STORM_USDT(date,predict) VALUES ("2022-08-19","data read error")
STORM/USDT : data read error
DOCK/USDT
INSERT INTO DOCK_USDT(date,predict) VALUES ("2022-08-19","")
DOCK/USDT :
WAN/USDT
INSERT INTO WAN_USDT(date,predict) VALUES ("2022-08-19","")
WAN/USDT :
FUN/USDT
INSERT INTO FUN_USDT(date,predict) VALUES ("2022-08-19","")
FUN/USDT :
CVC/USDT
INSERT INTO CVC_USDT(date,predict) VALUES ("2022-08-19","")
CVC/USDT :
CHZ/USDT
INSERT INTO CHZ_USDT(date,predict) VALUES ("2022-08-19","")
CHZ/USDT :
BAND/USDT
INSERT INTO BAND_USDT(date,predict) VALUES ("2022-08-19","")
BAND/USDT :
BUSD/USDT
INSERT INTO BUSD_USDT(date,predict) VALUES ("2022-08-19","")
BUSD/USDT :
BEAM/USDT
INSERT INTO BEAM_USDT(date,predict) VALUES ("2022-08-19","")
BEAM/USDT :
XTZ/USDT
INSERT INTO XTZ_USDT(date,predict) VALUES ("2022-08-19","")
XTZ/USDT :
REN/USDT
INSERT INTO REN_USDT(date,predict) VALUES ("2022-08-19","")
REN/USDT :
RVN/USDT
INSERT INTO RVN_USDT(date,predict) VALUES ("2022-08-19","")
RVN/USDT :
HC/USDT
INSERT INTO HC_USDT(date,predict) VALUES ("2022-08-19","data read error")
HC/USDT : data read error
HBAR/USDT
INSERT INTO HBAR_USDT(date,predict) VALUES ("2022-08-19","")
HBAR/USDT :
NKN/USDT
INSERT INTO NKN_USDT(date,predict) VALUES ("2022-08-19","")
NKN/USDT :
STX/USDT
INSERT INTO STX_USDT(date,predict) VALUES ("2022-08-19","")
STX/USDT :
KAVA/USDT
INSERT INTO KAVA_USDT(date,predict) VALUES ("2022-08-19","data read error")
KAVA/USDT : data read error
ARPA/USDT
INSERT INTO ARPA_USDT(date,predict) VALUES ("2022-08-19","data read error")
ARPA/USDT : data read error
IOTX/USDT
INSERT INTO IOTX_USDT(date,predict) VALUES ("2022-08-19","")
IOTX/USDT :
RLC/USDT
INSERT INTO RLC_USDT(date,predict) VALUES ("2022-08-19","")
RLC/USDT :
MCO/USDT
INSERT INTO MCO_USDT(date,predict) VALUES ("2022-08-19","data read error")
MCO/USDT : data read error
CTXC/USDT
INSERT INTO CTXC_USDT(date,predict) VALUES ("2022-08-19","")
CTXC/USDT :
TROY/USDT
INSERT INTO TROY_USDT(date,predict) VALUES ("2022-08-19","")
TROY/USDT :
VITE/USDT
INSERT INTO VITE_USDT(date,predict) VALUES ("2022-08-19","")
VITE/USDT :
FTT/USDT
INSERT INTO FTT_USDT(date,predict) VALUES ("2022-08-19","")
FTT/USDT :
EUR/USDT
INSERT INTO EUR_USDT(date,predict) VALUES ("2022-08-19","")
EUR/USDT :
OGN/USDT
INSERT INTO OGN_USDT(date,predict) VALUES ("2022-08-19","")
OGN/USDT :
DREP/USDT
INSERT INTO DREP_USDT(date,predict) VALUES ("2022-08-19","")
DREP/USDT :
BULL/USDT
INSERT INTO BULL_USDT(date,predict) VALUES ("2022-08-19","data read error")
BULL/USDT : data read error
BEAR/USDT
INSERT INTO BEAR_USDT(date,predict) VALUES ("2022-08-19","data read error")
BEAR/USDT : data read error
ETHBULL/USDT
INSERT INTO ETHBULL_USDT(date,predict) VALUES ("2022-08-19","data read error")
ETHBULL/USDT : data read error
ETHBEAR/USDT
INSERT INTO ETHBEAR_USDT(date,predict) VALUES ("2022-08-19","data read error")
ETHBEAR/USDT : data read error
TCT/USDT
INSERT INTO TCT_USDT(date,predict) VALUES ("2022-08-19","")
TCT/USDT :
WRX/USDT
INSERT INTO WRX_USDT(date,predict) VALUES ("2022-08-19","")
WRX/USDT :
BTS/USDT
INSERT INTO BTS_USDT(date,predict) VALUES ("2022-08-19","")
BTS/USDT :
LSK/USDT
INSERT INTO LSK_USDT(date,predict) VALUES ("2022-08-19","")
LSK/USDT :
BNT/USDT
INSERT INTO BNT_USDT(date,predict) VALUES ("2022-08-19","")
BNT/USDT :
LTO/USDT
INSERT INTO LTO_USDT(date,predict) VALUES ("2022-08-19","")
LTO/USDT :
EOSBULL/USDT
INSERT INTO EOSBULL_USDT(date,predict) VALUES ("2022-08-19","data read error")
EOSBULL/USDT : data read error
EOSBEAR/USDT
INSERT INTO EOSBEAR_USDT(date,predict) VALUES ("2022-08-19","data read error")
EOSBEAR/USDT : data read error
XRPBULL/USDT
INSERT INTO XRPBULL_USDT(date,predict) VALUES ("2022-08-19","data read error")
XRPBULL/USDT : data read error
XRPBEAR/USDT
INSERT INTO XRPBEAR_USDT(date,predict) VALUES ("2022-08-19","data read error")
XRPBEAR/USDT : data read error
STRAT/USDT
INSERT INTO STRAT_USDT(date,predict) VALUES ("2022-08-19","data read error")
STRAT/USDT : data read error
AION/USDT
INSERT INTO AION_USDT(date,predict) VALUES ("2022-08-19","")
AION/USDT :
MBL/USDT
INSERT INTO MBL_USDT(date,predict) VALUES ("2022-08-19","")
MBL/USDT :
COTI/USDT
INSERT INTO COTI_USDT(date,predict) VALUES ("2022-08-19","")
COTI/USDT :
BNBBULL/USDT
INSERT INTO BNBBULL_USDT(date,predict) VALUES ("2022-08-19","data read error")
BNBBULL/USDT : data read error
BNBBEAR/USDT
INSERT INTO BNBBEAR_USDT(date,predict) VALUES ("2022-08-19","data read error")
BNBBEAR/USDT : data read error
STPT/USDT
INSERT INTO STPT_USDT(date,predict) VALUES ("2022-08-19","")
STPT/USDT :
WTC/USDT
INSERT INTO WTC_USDT(date,predict) VALUES ("2022-08-19","")
WTC/USDT :
DATA/USDT
INSERT INTO DATA_USDT(date,predict) VALUES ("2022-08-19","")
DATA/USDT :
XZC/USDT
INSERT INTO XZC_USDT(date,predict) VALUES ("2022-08-19","data read error")
XZC/USDT : data read error
SOL/USDT
INSERT INTO SOL_USDT(date,predict) VALUES ("2022-08-19","")
SOL/USDT :
CTSI/USDT
INSERT INTO CTSI_USDT(date,predict) VALUES ("2022-08-19","")
CTSI/USDT :
HIVE/USDT
INSERT INTO HIVE_USDT(date,predict) VALUES ("2022-08-19","")
HIVE/USDT :
CHR/USDT
INSERT INTO CHR_USDT(date,predict) VALUES ("2022-08-19","")
CHR/USDT :
BTCUP/USDT
INSERT INTO BTCUP_USDT(date,predict) VALUES ("2022-08-19","")
BTCUP/USDT :
BTCDOWN/USDT
INSERT INTO BTCDOWN_USDT(date,predict) VALUES ("2022-08-19","")
BTCDOWN/USDT :
GXS/USDT
INSERT INTO GXS_USDT(date,predict) VALUES ("2022-08-19","data read error")
GXS/USDT : data read error
ARDR/USDT
INSERT INTO ARDR_USDT(date,predict) VALUES ("2022-08-19","")
ARDR/USDT :
LEND/USDT
INSERT INTO LEND_USDT(date,predict) VALUES ("2022-08-19","data read error")
LEND/USDT : data read error
MDT/USDT
INSERT INTO MDT_USDT(date,predict) VALUES ("2022-08-19","")
MDT/USDT :
STMX/USDT
INSERT INTO STMX_USDT(date,predict) VALUES ("2022-08-19","")
STMX/USDT :
KNC/USDT
INSERT INTO KNC_USDT(date,predict) VALUES ("2022-08-19","")
KNC/USDT :
REP/USDT
INSERT INTO REP_USDT(date,predict) VALUES ("2022-08-19","")
REP/USDT :
LRC/USDT
INSERT INTO LRC_USDT(date,predict) VALUES ("2022-08-19","")
LRC/USDT :
PNT/USDT
INSERT INTO PNT_USDT(date,predict) VALUES ("2022-08-19","")
PNT/USDT :
COMP/USDT
INSERT INTO COMP_USDT(date,predict) VALUES ("2022-08-19","")
COMP/USDT :
BKRW/USDT
INSERT INTO BKRW_USDT(date,predict) VALUES ("2022-08-19","data read error")
BKRW/USDT : data read error
SC/USDT
INSERT INTO SC_USDT(date,predict) VALUES ("2022-08-19","")
SC/USDT :
ZEN/USDT
INSERT INTO ZEN_USDT(date,predict) VALUES ("2022-08-19","")
ZEN/USDT :
SNX/USDT
INSERT INTO SNX_USDT(date,predict) VALUES ("2022-08-19","")
SNX/USDT :
ETHUP/USDT
INSERT INTO ETHUP_USDT(date,predict) VALUES ("2022-08-19","")
ETHUP/USDT :
ETHDOWN/USDT
INSERT INTO ETHDOWN_USDT(date,predict) VALUES ("2022-08-19","")
ETHDOWN/USDT :
ADAUP/USDT
INSERT INTO ADAUP_USDT(date,predict) VALUES ("2022-08-19","")
ADAUP/USDT :
ADADOWN/USDT
INSERT INTO ADADOWN_USDT(date,predict) VALUES ("2022-08-19","")
ADADOWN/USDT :
LINKUP/USDT
INSERT INTO LINKUP_USDT(date,predict) VALUES ("2022-08-19","")
LINKUP/USDT :
LINKDOWN/USDT
INSERT INTO LINKDOWN_USDT(date,predict) VALUES ("2022-08-19","")
LINKDOWN/USDT :
VTHO/USDT
INSERT INTO VTHO_USDT(date,predict) VALUES ("2022-08-19","")
VTHO/USDT :
DGB/USDT
INSERT INTO DGB_USDT(date,predict) VALUES ("2022-08-19","")
DGB/USDT :
GBP/USDT
INSERT INTO GBP_USDT(date,predict) VALUES ("2022-08-19","")
GBP/USDT :
SXP/USDT
INSERT INTO SXP_USDT(date,predict) VALUES ("2022-08-19","")
SXP/USDT :
MKR/USDT
INSERT INTO MKR_USDT(date,predict) VALUES ("2022-08-19","")
MKR/USDT :
DAI/USDT
INSERT INTO DAI_USDT(date,predict) VALUES ("2022-08-19","data read error")
DAI/USDT : data read error
DCR/USDT
INSERT INTO DCR_USDT(date,predict) VALUES ("2022-08-19","")
DCR/USDT :
STORJ/USDT
INSERT INTO STORJ_USDT(date,predict) VALUES ("2022-08-19","")
STORJ/USDT :
BNBUP/USDT
INSERT INTO BNBUP_USDT(date,predict) VALUES ("2022-08-19","")
BNBUP/USDT :
BNBDOWN/USDT
INSERT INTO BNBDOWN_USDT(date,predict) VALUES ("2022-08-19","")
BNBDOWN/USDT :
XTZUP/USDT
INSERT INTO XTZUP_USDT(date,predict) VALUES ("2022-08-19","data read error")
XTZUP/USDT : data read error
XTZDOWN/USDT
INSERT INTO XTZDOWN_USDT(date,predict) VALUES ("2022-08-19","data read error")
XTZDOWN/USDT : data read error
MANA/USDT
INSERT INTO MANA_USDT(date,predict) VALUES ("2022-08-19","")
MANA/USDT :
AUD/USDT
INSERT INTO AUD_USDT(date,predict) VALUES ("2022-08-19","")
AUD/USDT :
YFI/USDT
INSERT INTO YFI_USDT(date,predict) VALUES ("2022-08-19","")
YFI/USDT :
BAL/USDT
INSERT INTO BAL_USDT(date,predict) VALUES ("2022-08-19","")
BAL/USDT :
BLZ/USDT
INSERT INTO BLZ_USDT(date,predict) VALUES ("2022-08-19","")
BLZ/USDT :
IRIS/USDT
INSERT INTO IRIS_USDT(date,predict) VALUES ("2022-08-19","")
IRIS/USDT :
KMD/USDT
INSERT INTO KMD_USDT(date,predict) VALUES ("2022-08-19","")
KMD/USDT :
JST/USDT
INSERT INTO JST_USDT(date,predict) VALUES ("2022-08-19","")
JST/USDT :
SRM/USDT
INSERT INTO SRM_USDT(date,predict) VALUES ("2022-08-19","")
SRM/USDT :
ANT/USDT
INSERT INTO ANT_USDT(date,predict) VALUES ("2022-08-19","")
ANT/USDT :
CRV/USDT
INSERT INTO CRV_USDT(date,predict) VALUES ("2022-08-19","")
CRV/USDT :
SAND/USDT
INSERT INTO SAND_USDT(date,predict) VALUES ("2022-08-19","")
SAND/USDT :
OCEAN/USDT
INSERT INTO OCEAN_USDT(date,predict) VALUES ("2022-08-19","")
OCEAN/USDT :
NMR/USDT
INSERT INTO NMR_USDT(date,predict) VALUES ("2022-08-19","")
NMR/USDT :
DOT/USDT
INSERT INTO DOT_USDT(date,predict) VALUES ("2022-08-19","")
DOT/USDT :
LUNA/USDT
INSERT INTO LUNA_USDT(date,predict) VALUES ("2022-08-19","")
LUNA/USDT :
RSR/USDT
INSERT INTO RSR_USDT(date,predict) VALUES ("2022-08-19","")
RSR/USDT :
PAXG/USDT
INSERT INTO PAXG_USDT(date,predict) VALUES ("2022-08-19","")
PAXG/USDT :
WNXM/USDT
INSERT INTO WNXM_USDT(date,predict) VALUES ("2022-08-19","")
WNXM/USDT :
TRB/USDT
INSERT INTO TRB_USDT(date,predict) VALUES ("2022-08-19","")
TRB/USDT :
BZRX/USDT
INSERT INTO BZRX_USDT(date,predict) VALUES ("2022-08-19","data read error")
BZRX/USDT : data read error
SUSHI/USDT
INSERT INTO SUSHI_USDT(date,predict) VALUES ("2022-08-19","")
SUSHI/USDT :
YFII/USDT
INSERT INTO YFII_USDT(date,predict) VALUES ("2022-08-19","")
YFII/USDT :
KSM/USDT
INSERT INTO KSM_USDT(date,predict) VALUES ("2022-08-19","")
KSM/USDT :
EGLD/USDT
INSERT INTO EGLD_USDT(date,predict) VALUES ("2022-08-19","")
EGLD/USDT :
DIA/USDT
INSERT INTO DIA_USDT(date,predict) VALUES ("2022-08-19","")
DIA/USDT :
RUNE/USDT
INSERT INTO RUNE_USDT(date,predict) VALUES ("2022-08-19","")
RUNE/USDT :
FIO/USDT
INSERT INTO FIO_USDT(date,predict) VALUES ("2022-08-19","")
FIO/USDT :
UMA/USDT
INSERT INTO UMA_USDT(date,predict) VALUES ("2022-08-19","")
UMA/USDT :
EOSUP/USDT
INSERT INTO EOSUP_USDT(date,predict) VALUES ("2022-08-19","data read error")
EOSUP/USDT : data read error
EOSDOWN/USDT
INSERT INTO EOSDOWN_USDT(date,predict) VALUES ("2022-08-19","data read error")
EOSDOWN/USDT : data read error
TRXUP/USDT
INSERT INTO TRXUP_USDT(date,predict) VALUES ("2022-08-19","")
TRXUP/USDT :
TRXDOWN/USDT
INSERT INTO TRXDOWN_USDT(date,predict) VALUES ("2022-08-19","")
TRXDOWN/USDT :
XRPUP/USDT
INSERT INTO XRPUP_USDT(date,predict) VALUES ("2022-08-19","")
XRPUP/USDT :
XRPDOWN/USDT
INSERT INTO XRPDOWN_USDT(date,predict) VALUES ("2022-08-19","")
XRPDOWN/USDT :
DOTUP/USDT
INSERT INTO DOTUP_USDT(date,predict) VALUES ("2022-08-19","")
DOTUP/USDT :
DOTDOWN/USDT
INSERT INTO DOTDOWN_USDT(date,predict) VALUES ("2022-08-19","")
DOTDOWN/USDT :
BEL/USDT
INSERT INTO BEL_USDT(date,predict) VALUES ("2022-08-19","")
BEL/USDT :
WING/USDT
INSERT INTO WING_USDT(date,predict) VALUES ("2022-08-19","")
WING/USDT :
LTCUP/USDT
INSERT INTO LTCUP_USDT(date,predict) VALUES ("2022-08-19","data read error")
LTCUP/USDT : data read error
LTCDOWN/USDT
INSERT INTO LTCDOWN_USDT(date,predict) VALUES ("2022-08-19","data read error")
LTCDOWN/USDT : data read error
UNI/USDT
INSERT INTO UNI_USDT(date,predict) VALUES ("2022-08-19","")
UNI/USDT :
NBS/USDT
INSERT INTO NBS_USDT(date,predict) VALUES ("2022-08-19","")
NBS/USDT :
OXT/USDT
INSERT INTO OXT_USDT(date,predict) VALUES ("2022-08-19","")
OXT/USDT :
SUN/USDT
INSERT INTO SUN_USDT(date,predict) VALUES ("2022-08-19","")
SUN/USDT :
AVAX/USDT
INSERT INTO AVAX_USDT(date,predict) VALUES ("2022-08-19","")
AVAX/USDT :
HNT/USDT
INSERT INTO HNT_USDT(date,predict) VALUES ("2022-08-19","")
HNT/USDT :
FLM/USDT
INSERT INTO FLM_USDT(date,predict) VALUES ("2022-08-19","")
FLM/USDT :
UNIUP/USDT
INSERT INTO UNIUP_USDT(date,predict) VALUES ("2022-08-19","data read error")
UNIUP/USDT : data read error
UNIDOWN/USDT
INSERT INTO UNIDOWN_USDT(date,predict) VALUES ("2022-08-19","data read error")
UNIDOWN/USDT : data read error
ORN/USDT
INSERT INTO ORN_USDT(date,predict) VALUES ("2022-08-19","")
ORN/USDT :
UTK/USDT
INSERT INTO UTK_USDT(date,predict) VALUES ("2022-08-19","")
UTK/USDT :
XVS/USDT
INSERT INTO XVS_USDT(date,predict) VALUES ("2022-08-19","")
XVS/USDT :
ALPHA/USDT
INSERT INTO ALPHA_USDT(date,predict) VALUES ("2022-08-19","")
ALPHA/USDT :
AAVE/USDT
INSERT INTO AAVE_USDT(date,predict) VALUES ("2022-08-19","")
AAVE/USDT :
NEAR/USDT
INSERT INTO NEAR_USDT(date,predict) VALUES ("2022-08-19","")
NEAR/USDT :
SXPUP/USDT
INSERT INTO SXPUP_USDT(date,predict) VALUES ("2022-08-19","data read error")
SXPUP/USDT : data read error
SXPDOWN/USDT
INSERT INTO SXPDOWN_USDT(date,predict) VALUES ("2022-08-19","data read error")
SXPDOWN/USDT : data read error
FIL/USDT
INSERT INTO FIL_USDT(date,predict) VALUES ("2022-08-19","")
FIL/USDT :
FILUP/USDT
INSERT INTO FILUP_USDT(date,predict) VALUES ("2022-08-19","data read error")
FILUP/USDT : data read error
FILDOWN/USDT
INSERT INTO FILDOWN_USDT(date,predict) VALUES ("2022-08-19","data read error")
FILDOWN/USDT : data read error
YFIUP/USDT
INSERT INTO YFIUP_USDT(date,predict) VALUES ("2022-08-19","data read error")
YFIUP/USDT : data read error
YFIDOWN/USDT
INSERT INTO YFIDOWN_USDT(date,predict) VALUES ("2022-08-19","data read error")
YFIDOWN/USDT : data read error
INJ/USDT
INSERT INTO INJ_USDT(date,predict) VALUES ("2022-08-19","")
INJ/USDT :
AUDIO/USDT
INSERT INTO AUDIO_USDT(date,predict) VALUES ("2022-08-19","")
AUDIO/USDT :
CTK/USDT
INSERT INTO CTK_USDT(date,predict) VALUES ("2022-08-19","")
CTK/USDT :
BCHUP/USDT
INSERT INTO BCHUP_USDT(date,predict) VALUES ("2022-08-19","data read error")
BCHUP/USDT : data read error
BCHDOWN/USDT